<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="padding: 10px">CHECAR DISPONIBILIDADE DE NOME DE USUÁRIO</span>
</div>

<div class="content" role="main">

  <input #todo (input)="changeInput(todo.value)" style="padding: 17px; width: 70%;" type="text"
    placeholder="Digite aqui o nome de usuário">
  <div style="align-items: center; justify-content: center; margin-top: 17px; margin-bottom: 20px;">
    <button [disabled]="disabledButton" (click)="getSites(todo.value)" style="width: 300px; margin-bottom: 20px;"
      mat-raised-button color="primary">Buscar</button>
  </div>

  <!-- Resources -->

  <div class="card-container">

    <mat-spinner *ngIf="spinner == true" diameter="70"></mat-spinner>

    <ng-container *ngIf="spinner == false">
      <a *ngFor="let site of sites" class="card" target="_blank" rel="noopener" href="{{site.url}}">
        <span class="material-icons" *ngIf="site.available === true"> check_circle </span>
        <span class="material-icons" *ngIf="site.available === false"> highlight_off </span>

        <span>{{site.name.includes("Domain") ? site.name.replace("Domain", todoValueNoAccents) : site.name}}</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
      </a>
    </ng-container>

    <ng-container *ngIf="sites == null && spinner == false">
      <span style="margin-top: 50px; font-weight: 600;">Sem resultados...</span>
    </ng-container>

  </div>
</div>

<div class="rodape">
  <span style="padding: 10px">Desenvolvido por: <a target="_blank" style="color: #0f0e0e;" href="https://www.youtube.com/c/UmGrandeProgramador/">Um Grande Programador</a></span>
</div>